---
import TailwindCSS from "../components/icons/TailwindCSS.astro";
import NextJS from "../components/icons/NextJS.astro";
import GithubIcon from "../components/icons/GitHub.astro";
import LinkIcon from "../components/icons/Link.astro";
import JavaScript from "../components/icons/Javascript.astro";
import MUI from "../components/icons/Mui.astro";
import NodeJS from "../components/icons/NodeJS.astro";
import Firebase from "../components/icons/Firebase.astro";
import TypeScript from "../components/icons/Typescript.astro";
import Gemini from "../components/icons/Gemini.astro";
import OpenAI from "../components/icons/OpenAI.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind",
    icon: TailwindCSS,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: TypeScript,
  },
  FIREBASE: {
    name: "Firebase",
    icon: Firebase,
  },
  MUI: {
    name: "MUI",
    icon: MUI,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: JavaScript,
  },
  NODEJS: {
    name: "Node.js",
    icon: NodeJS,
  },
  GEMINI: {
    name: "Gemini",
    icon: Gemini,
  },
  OPENAI: {
    name: "OpenAI",
    icon: OpenAI,
  },
  PINECONE: {
    name: "Pinecone",
  },
  LANGCHAIN: {
    name: "LangChain",
  },
  STRIPE: {
    name: "Stripe",
  },
};

// PlaceHolder Image in case I ever need it
// image: "https://placehold.co/600x400@2x?text=Coming+Soon&font=roboto.png",

const PROJECTS = [
  {
    title: "ResumeRight - (Ongoing Project)",
    description:
      "AI-powered resume builder that creates tailored, job-specific resumes by analyzing your previous resume and job descriptions, ensuring you stand out to recruiters with optimized, professional applications.",
    // link: "https://svgl.app/",
    github: "https://github.com/JoanDuran12/ResumeRight",
    image: "/projects/resumeright.webp",
    tags: [
      TAGS.NEXT,
      TAGS.TAILWIND,
      TAGS.TYPESCRIPT,
      TAGS.FIREBASE,
      TAGS.NODEJS,
      TAGS.GEMINI,
    ],
  },
  {
    title: "RizzGPT",
    description:
      "AI-powered chatbot that delivers clever comebacks and smooth lines on demand, helping you elevate your game in any conversation with confidence and style.",
    link: "https://rizzgpt.thaianle.com/auth",
    github: "https://github.com/xntle/rizz-gpt",
    image: "/projects/rizzgpt.webp",
    tags: [
      TAGS.NEXT,
      TAGS.MUI,
      TAGS.FIREBASE,
      TAGS.JAVASCRIPT,
      TAGS.NODEJS,
      TAGS.OPENAI,
      TAGS.PINECONE,
      TAGS.LANGCHAIN,
    ],
  },
  {
    title: "Flashcards AI",
    description:
      "AI-powered flashcard app designed to help you master any subject with intelligent reviews, adaptive learning, and smart recall techniques to boost your retention.",
    link: "https://flashcards-ai-beta.vercel.app/",
    github: "https://github.com/manalafzal47/flashcards-ai",
    image: "/projects/flashcardai.webp",
    tags: [
      TAGS.NEXT,
      TAGS.MUI,
      TAGS.FIREBASE,
      TAGS.JAVASCRIPT,
      TAGS.NODEJS,
      TAGS.OPENAI,
      TAGS.STRIPE,
    ],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 px-6 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Project - "
              {title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={image}
            />
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-col mt-2 xl:w-[500px]">
            <ul class="flex flex-wrap flex-row mb-2 gap-x-2 gap-y-1">
              {tags.map((tag) => (
                <li>
                  <span class="flex gap-x-2 rounded-full text-xs bg-[#043f6f] py-1 px-2">
                    {"icon" in tag && <tag.icon class="size-4" />}
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <a
                  target="_blank"
                  href={github}
                  role="link"
                  class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
                >
                  <GithubIcon class="size-6" />
                  Code
                </a>
              )}
              {link && (
                <a
                  target="_blank"
                  href={link}
                  role="link"
                  class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
                >
                  <LinkIcon class="size-6" />
                  Preview
                </a>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
